/** recipes style sheet */
h1 {
    background-color:red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: 600;
}

a {
    background-color: rgb(9, 236, 103);
    color: rgb(2, 37, 37);
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.ul .li {
    background-color: goldenrod;
    color: brown;
    font-size: 28px;
    text-align: center;
}

img {
    width: 550px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}